config main 'main'
	option enabled '1'
	option expert_mode '0'
	option ignore_coexistence_warnings '0'

config routing 'routing'
	option vpn_set_eu '4#inet#fw4#vpn_domains'
	option vpn_set_adfree '4#inet#fw4#vpn_adfree'
	option vpn_set_custom '4#inet#fw4#vpn_custom'
	option wan_interface 'auto'

config module 'twitch'
	option enabled '1'
	option preset 'clean_proxy_geosplit'
	option route_token 'vpn_adfree'
	option route_master 'smartdns_comss'
	option route_media 'direct'
	option route_segments 'direct'
	option route_ads 'block'
	option detect_stitched '1'
	option detect_daterange '1'
	option detect_regex '0'
	option max_wait_secs '30'

config module 'youtube'
	option enabled '0'
	option preset 'direct'

config module 'kick'
	option enabled '0'
	option preset 'direct'

config module 'trovo'
	option enabled '0'
	option preset 'direct'

config observability 'observability'
	option metrics '1'
	option events '1'
	option event_capacity '128'
