config openstream 'main'
	option enabled '1'
	# option rules_file '/etc/openstream/rules.yaml'

config proxy 'proxy'
	option mode 'explicit'
	option listen '0.0.0.0:18080'
	option cache_ttl_secs '2'
	option max_manifest_bytes '2097152'
	option mitm '1'
	option prefetch_policy 'strip_when_ads_removed'
	option nft_file '/usr/share/openstream/nft/openstream.nft'
	# option proxy_public_url 'http://192.168.1.1:18080'
	option mark '0'
	option mark_mask '0'

config twitch 'twitch'
	option enabled '1'
	option detect_stitched '1'
	option detect_daterange '1'
	option detect_regex '0'
	option max_wait_secs '30'
	option debug '0'
	option backup_seamless '0'

config kick 'kick'
	option enabled '0'
	option debug '0'

config trovo 'trovo'
	option enabled '0'
	option debug '0'

config youtube 'youtube'
	option enabled '0'
	option debug '0'

config dash 'dash'
	option enabled '1'
	option debug '0'

config observability 'observability'
	option metrics '1'
	option events '1'
	option event_capacity '128'

config tls 'tls'
	option ca_cert '/etc/openstream/ca.crt'
	option ca_key '/etc/openstream/ca.key'
